extends layout

block content
  h1= title
  p Welcome to #[em LocalLibrary], a very basic Express website developed as a tutorial example on the Mozilla Developer Network.


  h1 Statistics

  if error
    p Error getting dynamic content.
  else
    p The library has the following record counts:

    p
      a(href='/catalog/books').btn.btn-primary #[strong Books ]
        span.badge.badge-light !{data.book_count}
    p
      a(href='/catalog/bookinstances').btn.btn-info #[strong Copies ]
        span.badge.badge-light !{data.book_instance_count}
    p
      a(href='/catalog/bookinstances').btn.btn-success #[strong Copies available ]
        span.badge.badge-light !{data.book_instance_available_count} 
    p
      a(href='/catalog/authors').btn.btn-danger #[strong Authors ]
        span.badge.badge-light !{data.author_count}
    p
      a(href='/catalog/genres').btn.btn-warning #[strong Genres ]
        span.badge.badge-light !{data.genre_count}