extends layout

block content

  h1 #{title} 

  p #[strong Username:] #{user.username}
  p #[strong Full Name:] #{user.fullname}
  p #[strong E-mail:] #{user.email}
  p #[strong Role:] 
    if (user.role==0)
      | User
    else if (user.role==1)
      | Editor
    else if (user.role==2)
      | Admin

  hr
  p
    a(href=user.url+'/update').btn.btn-primary Update User